body {
  background-color: #007fff;
}
h1 {
  text-align: center;

}

h2 {
    margin: 0 auto;
    color: red;
    text-align: center;
}
h3 {
    margin: 0 auto;
    color: red;
    text-align: center;
}


#player1 {
    float: right;
    width : 320px;
    height : 300px;
}
#player2 {
  float: left;
  width : 320px;
  height: 300px;
  }
main{
      display: flex;
      flex-wrap: wrap;
    }

.football-box{
  background-size: cover;
  width : 200px;
  height: 270px;
  overflow: hidden;
  cursor: pointer;
  }


.content {
    text-align: center;
    width: 200px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(86%);
    transition: 0.4s;
}
.football-box:hover .content {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(82%);
}
.active .content {
    transform: translateY(0) !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.logo1{
  margin-left:20px;
  background-image:url(http://i.imgur.com/3ZnUCAQ.jpg);
}
.logo2{
background-image:url(http://i.imgur.com/9XRJJgd.jpg);
}
.logo3{
   
    background-image:url(http://i.imgur.com/XJBRRnb.jpg);
}
.logo4{
  
    background-image:url(http://i.imgur.com/17Tlbfa.jpg);
}
.logo5{
    margin-left:20px;
    background-image:url(http://i.imgur.com/MrrZgWt.png);
}
.logo6{
   
    background-image:url(http://i.imgur.com/TlZudiU.jpg);
}
.logo7{
  
    background-image:url(http://i.imgur.com/2XSwLuZ.jpg);
}
.logo8{
    background-image:url(http://i.imgur.com/s7nBbBx.jpg);
}

.logo9{
    margin-left:20px;
    background-image:url(http://i.imgur.com/2KZu4wo.jpg);
}
.logo10{
  
    background-image:url(http://i.imgur.com/Es7gSGV.jpg);
}
.logo11{
    background-image:url(http://i.imgur.com/azyqJvh.png);
}

.logo12{
    background-image:url(http://i.imgur.com/jCN571b.jpg);
}
.logo13{
    margin-left:20px;
    background-image:url(http://i.imgur.com/wkRaHi0.jpg);
}
.logo14{
    background-image:url(http://i.imgur.com/LBtf2CO.jpg);
}
.logo15{
    background-image:url(http://i.imgur.com/R3yszUH.jpg);
}
.logo16{
   
    background-image:url(http://i.imgur.com/GO1BDpu.jpg);
}
.logo17{
   margin-left:20px;
    background-image:url(http://i.imgur.com/X4h1ijj.jpg);
}
.logo18{
    background-image:url(http://i.imgur.com/yiVVZJ0.png);
}
.logo19{
    background-image:url(http://i.imgur.com/fKcr4xF.jpg);
}
.logo20{
   
    background-image:url(http://i.imgur.com/uAADDKv.jpg);
}
.logo21{
     margin-left:20px;
    background-image:url(http://i.imgur.com/Vo3YlUq.jpg);
}
.fifa1{
  
    background-image:url(http://i.imgur.com/1RwuYb7.jpg);
}
